<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: black;
            padding-bottom: 100px;
        }

        section {
            margin-bottom: 10px;
        }
        #commentList{
            border: 8px solid gray;
        }

        .wrap {
            width: 1200px;
            height: 100vh;
            margin: 0 auto;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            width: 1200px;
            color: white;
        }

        .main-title {
            margin: 100px 0;
        }

        .guest-book {
            margin-bottom: 10px;
        }

        #add-comment-form {
            display: none;
        }

        .form-bg {
            /*background-color: white;*/
            margin-bottom: 10px;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 28px 16px 20px;
        }

        .form-text {
            color: white;
            margin-bottom: 10px;
        }

        .comment-list .list-group-item {
            background-color: black;
            border: 1px solid gray;
            color: white;
        }

        #add-guest-book-form {
            margin-top: 40px;
            display: none;
        }

        #btn-add-guest-book {
            padding: 12px 30px;
            font-size: 20px;
            font-weight: bold;
            position: fixed;
            bottom: 100px;
            right: 100px;
        }

        .form-title {
            margin-bottom: 30px;
        }

        .date {
            font-size: 12px;
            color: gray;
            margin-left: 20px;
            font-weight: normal;
        }

        .content-wrap {
            width: 70%;

        }

        .btn-margin {
            margin-top: 40px;
        }
    </style>
    <script>
        $(document).ready(function () {
            handleReadGuestBook();
            handleShowComment();
        });

        function handleOpenCommentForm() {
            $("#add-comment-form").show();
        }

        function handleCloseCommentForm() {
            $("#add-comment-form").hide();
        }

        function handleOpenGuestBookForm() {
            $("#add-guest-book-form").show();
            $("#btn-add-guest-book").hide()
        }

        function handleCloseGuestBookForm() {
            $("#add-guest-book-form").hide();
            $("#btn-add-guest-book").show()
        }
        //py에서 time함수를 이용해서 사용합니다.
        // function getToday() {
        //     const date = new Date();
        //     const year = date.getFullYear();
        //     const month = ("0" + (1 + date.getMonth())).slice(-2);
        //     const day = ("0" + date.getDate()).slice(-2);
        //
        //     return year + "-" + month + "-" + day;
        // }
        function handleCreateGuestBook() {
            console.log("방명록 백으로 데이터 보내기")
            // (민선님) 방명록 백으로 데이터 보내기
            let name = $('#inputEmail4').val();
            let password = $('#inputPassword5').val();
            let contents = $('#inputAddress1').val();

            // console.log(getToday())
            $.ajax({
                type: "POST",
                url: "/guest-book",
                data: {
                    name_give: name,
                    password_give: password,
                    contents_give: contents,
                    // date_give: getToday()
                },
                success: function (response) {
                    console.log(response)
                    alert(response.msc)
                    window.location.reload();
                },
            })
        }

        function handleReadGuestBook() {
            console.log("방명록 조회 기능")
            // 방명록 조회
            $.ajax({
                type: "GET",
                url: "/guest-book-2",
                data: {},
                success: function (response) {
                    let rows = response['list']
                    console.log(response['list'])
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let contents = rows[i]['contents']
                        let date = rows[i]['date']
                        let index = rows[i]['index']
                        let password = rows[i]['password']
                        let temp_html = `
                                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">${name}<span class="date">${date}</span></h5>
                                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openGuestModal(${index},${password})">삭제
                                                    </button>
                                                </div>

                                                <p class="mb-1">${contents}</p>
                                                <button type="button" class="btn btn-outline-primary" onclick="handleOpenCommentForm()">댓글 달기
                                                </button>
                                            </a>
                         `
                        //$('#Main-header').append(temp_html)
                        $('#list-header').append(temp_html)
                    }
                }
            });
        }


        function handleRemoveGuestBook(indec,pass) {
            console.log("방명록 삭제 기능")
            console.log("index :", indec)
            console.log("password :", pass)
            // (민선님) 방명록 삭제 기능
            $.ajax({
                type: "POST",
                url: "/guest-book-3",
                data: {
                    index_give:indec,
                    password_give:pass
                },
                success: function (response) {
                    console.log(response['msg'])
                    // window.location.reload()
                }
            })
        }

        function handleRemoveComment(data) {
            console.log("방명록 댓글 삭제기능")
            //  방명록에 달린 댓글 삭제 기능
            let password = $('#modal-password').val()
            let no = data
            $.ajax({
                type: "POST",
                url: "/guest-book-commentRemove",
                data: {password_give:password,del_give:no},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                },
            })
        }

        function handleShowComment() {
            // 방명록에 달린 댓글 보여주기 기능
            $.ajax({
                type: "GET",
                url: "/guest-book-comment1",
                data: {},
                success: function (response) {
                    let rows = response['comments']
                    for (let i=0 ; i<rows.length; i++){
                        let name = rows[i]['name']
                        let content = rows[i]['content']
                        let date = rows[i]['date']
                        let cno = rows[i]['cno']
                        let temp_html =`<li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto content-wrap">
                                                <div class="fw-bold">${name}
                                                    <span class="date">${date}</span>
                                                </div>${content}
                                            </div>
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" onclick="openCommentModal(${cno})">삭제</button>
                                        </li>`
                        $('#commentList').append(temp_html)
                    }
                },
            })
        }

        function handleCreateComment() {
            console.log("방명록에 댓글 추가 기능")
            let name = $('#commentName').val()
            let password = $('#commentPassword').val()
            let contents = $('#inputContents').val()
            // (민선님) 방명록에 댓글 추가 기능
            $.ajax({
                type: "POST",
                url: "/guest-book-commentIn",
                data: {name_comment_give:name,password_comment_give:password,contents_comment_give:contents},
                success: function (response){
                    alert(response["msg"])
                    window.location.reload()
                },
            })
        }
        let modalType = "";

        function openGuestModal(index,password) {
            modalType = "guest";
            indec = index
            pass = password
        }

        function openCommentModal(data2) {
            modalType = "comment";
            cno = data2

        }

        function submitModal() {
            if (modalType === "guest") {
                handleRemoveGuestBook(indec,pass)
            } else if (modalType === "comment") {
                handleRemoveComment(cno)
            }

        }

    </script>
</head>
<body>

<main class="wrap">
    <div class="container">
        <h1 class="main-title">방명록</h1>

        <section>
            <div class="list-group guest-book" id="list-header"> </div>
            <div class="form-bg" id="add-comment-form">
                <form class="row g-3">
                    <div class="col-md-3 form-text">
                        <label for="inputEmail4" class="form-label">이름</label>
                        <input type="email" class="form-control" id="commentName" placeholder="이재원">
                    </div>
                    <div class="col-md-3 form-text">
                        <label for="inputPassword4" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="commentPassword" placeholder="****">
                    </div>
                    <div class="col-md-12 form-text">
                        <label for="inputAddress" class="form-label">내용</label>
                        <input type="text" class="form-control" id="inputContents" placeholder="내용을 입력해주세요.">
                    </div>
                    <div class="col-12 btn-margin">
                        <button type="button" class="btn btn-primary" onclick="handleCreateComment()">등록</button>
                        <button type="button" class="btn btn-secondary" onclick="handleCloseCommentForm()">취소</button>
                    </div>
                </form>
            </div>
            <div class="list-group comment-list"  id = "commentList"> </div>
        </section>

        <section class="form-bg" id="add-guest-book-form">
            <h3 class="form-title">방명록 작성</h3>
            <form class="row g-3">
                <div class="col-md-3">
                    <label for="inputEmail4" class="form-label">이름</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-md-3">
                    <label for="inputPassword4" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" id="inputPassword5">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">내용</label>
                    <input type="text" class="form-control" id="inputAddress1" placeholder="내용을 입력해주세요.">
                </div>
                <div class="col-12 btn-margin">
                    <button type="button" class="btn btn-primary" onclick="handleCreateGuestBook()">등록</button>
                    <button type="button" class="btn btn-secondary" onclick="handleCloseGuestBookForm()">취소</button>
                </div>
            </form>
        </section>
    </div>
    <button type="button" class="btn btn-primary" id="btn-add-guest-book" onclick="handleOpenGuestBookForm()">
        방명록 작성하기
    </button>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">비밀번호를 입력해주세요</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="modal-password" placeholder="****">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" id="btn-modal-delete" onclick="submitModal()">삭제</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>